Package: python-twitterdataminer
Source: twitterdataminer
Version: 0.1.2-1
Architecture: all
Maintainer: David Francos Cuartero (XayOn) <xayon@xayon.net>
Installed-Size: 92
Depends: python (<< 2.7), python (>= 2.6), python-support (>= 0.90.0), python-mysqldb, python-argparse
Provides: python2.6-twitterdataminer
Section: python
Priority: optional
Description: Twitter data mining scripts
 Twitter data mining scripts, able to save into mysql, sqlite, or json format
Python-Version: 2.6
